*{
	margin: 0px;
	padding: 0px;
}
body{
	    font-family: "Open Sans", sans-serif !important;
}
a{
	text-decoration: none;
	font: bold 14px Tahoma;
	color: #000000;
}

.text-white{
	color: white;
}
.text-white a{
	color: white;
}
#big-wrapper{
	width: auto;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex: 1;
}
#top-header{
	/* display: -webkit-box; */
	/* -webkit-box-orient: horizontal; */
	/* border: 1px solid black; */
	overflow: hidden;
	width: auto;
	height: 80px;
}
#top-header #top-logo{
	float:left;
}
#top-header #top-menu{
	float:right;
}
#top-logo{
	/* background-color: yellow; */
	/* border: 1px solid #f59220; */
	-webkit-box-flex: 1;
	height: 80px;
}
#top-logo img{
	padding: 10px 30px 10px 30px;
}
#top-menu{
	width: auto;
	height:80px;
}
#menu-nav{
	/* border: 1px solid green; */
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#menu-nav .nav-relawan{
	padding: 5px 30px 5px 30px;
	margin: 25px 5px 25px 5px;
	border: 2px solid #8dcb3b;
	border-radius: 25px;
	line-height: 80px;
	color: #232323;
}
#menu-nav .nav-relawan:hover{
	color: #FFFFFF;
	background-color: #8dcb3b;
}
#menu-nav .nav-donasi{
	padding: 5px 30px 5px 30px;
	margin: 25px 5px 25px 5px;
	border: 2px solid #f59220;
	background-color: #f59220;
	border-radius: 25px;
	line-height: 80px;
	color: #FFFFFF;
}
#menu-nav .nav-bahasa{
	margin: 25px 15px 25px 15px;
	line-height: 80px;
	color: #6F6F6F;
	
	box-sizing: content-box; 
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 6px;
  transition: 0.4s;
}
ul{
	padding: 0px;
	list-style-type: none;
	height: 80px;
}
#menu-nav .hamburger-menu .btn-menu{
	background-color: transparent;
	border: none;
	padding-top:25px;
	outline: none;
	cursor: pointer;
}
#menu-nav .hamburger-menu .btn-menu:hover div{
	
	background-color: #d98f36;
}
#layar{
	background-image: url("bg_menu.jpg");
	background-repeat: no-repeat;
	width: 100%; /* vw/% */
	height: 100%;
	position: fixed;
	top: 0px;
	left: opx;
	background-attachment: fixed;
	background-size:cover;
	display: none;
}
.flag-icon-id{
	background-image: url("id.svg");
}
.flag-icon-en{
	background-image: url("us.svg");
}

.flag-icon{
	background-size: contain;
	background-position: 50%;
	background-repeat:no-repeat;
	position: relative;
	display: inline-block;
	width: 15px;
	line-height: 15px;
}
.flag-icon:before{
	content: "\00a0";
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100px;
	padding: 10px;
	background-color: white;
	box-sizing: content-box; 
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	/* z-index: 1; */
	top: 50px;
	right: 0px;
}
#menu4{
	
	box-sizing: content-box; 
}

#menu4 	a:hover{
	color: orange;
}

#menu4:hover .dropdown-content {
	display: block;
}
.dropdown-content a{
	
	color: #6F6F6F;
}
.dropdown-content a:hover {
	/* background-color: red; */
	color: #f59220;
}
.content-bg{
	
	
	background-size:cover;
	width: 100%;
	height: 100%;
	background-position: center;
	opacity: 1;
    visibility: inherit;
    z-index: 20;
	background-attachment: fixed;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#content-article{
	border: 2px solid orange;
	-webkit-box-flex: 1;
	max-width:600px;
	position:absolute;
	width: 100%;
	height: 400px;
}
#content-article2{
	border: 1px solid orange;
	position:relative;
	width: 100%;
	height: 100%;
}
#content-article article h1{
	position: absolute;
	color: white;
	left: 64px;
	top: 168px;
	font-size: 45px;
	font-weight: bold;
}
#content-article article p{
	position: absolute;
	color: white;
	left: 64px;
	top: 228px;
	font-size: 20px;
}
#content-donasi{
	background-color: white;
	border-radius: 50px;
	margin: 20px;
	width:385px;
	height:100%;
	padding: 20px;
	float: right;
}
#content-donasi h4{
	text-align: center;
	font: bold 30px Open Sans;
	margin-bottom: 10px;
	
}
#content-donasi .content-garis{
	width: 100%;
	height: 5px;
	background-color: #6eb314;
	margin: 10px 0 10px 0;
}
#content-donasi .donasi-langsung{
	text-align: center;
	font: bold 14px Open Sans;
}
#content-donasi .donasi-langsung .ada{
	margin-bottom: 10px;
}
#content-donasi .pilih-donasi .ada2{
	padding-top: 10px;
	text-align: center;
}
#content-donasi .donasi-langsung button{
	border: 2px solid orange;
	padding: 5px 20px;
	width: 100%;
	background: transparent;
	border-radius: 50px;
	font: bold 14px Open Sans;
}
#content-donasi .pilih-donasi .ab{
	float: left;
}
#content-donasi .pilih-donasi button{
	border: 2px solid orange;
	padding: 5px 20px;
	margin-top: 10px;
	width: 100%;
	background: transparent;
	border-radius: 50px;
	font: bold 14px Open Sans;
}
#content-donasi .pilih-donasi .ab{
	margin-bottom: 10px;
	width: 50%;
}
#content-donasi .input-group .form-rounded{
	
}
#content-donasi .input-group{
	display: inline-block;
	max-width: 100%;
	width: 100%;
}
#content-donasi .input-group input{
border: 2px solid orange;
	font: bold 14px Open Sans;
    margin: 0 0 5px 0;
    max-width: 100%;
	padding: 5px 20px ;
    resize: none;
  box-sizing: border-box;
	width: 100%;
	border-radius: 50px;
}
#content-donasi .label-group label{
	font: bold 14px Open Sans;
}
#content-donasi .label-group{
	text-align: center;
}
#content-donasi .donasi-nominal button{
	text-align: center;
	border: 2px solid orange;
	padding: 5px 20px;
	width: 100%;
	background: transparent;
	border-radius: 50px;
	font: bold 14px Open Sans;
	margin: 20px 0 20px 0;
}

#big-wrapper .w3-display-left, .w3-display-right{
	position:absolute;
	top: 50%;
	padding: 16px;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: transparent;
	
}
#big-wrapper .w3-display-right{
	right: 0px;
	
}


.qqq{
	font-size: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	position: relative;
/* border: 2px solid orange; */
width: 100%;
height: 100vh;
}
.qqq div {
  /* color: white; */
  /* padding: 20px; */
  }
/* .qqq .bbbbb .aaaaa{ */
  /* position: absolute; */
  /* top: 0; */
  /* } */
/* .item-1 { */
  /* background: #b03532; */
/* } */
/* .item-2 { */
  /* background: #33a8a5; */
  /* position: relative; */
  /* right: 100px; */
  /* top: 30px; */
/* } */
/* .item-3 { */
  /* background: #30997a; */
/* } */
.no-padding{
	background-image: url("banner_Labbaik_Berqurban_Terbaik.jpg");
	background-repeat: no-repeat;
	width: 100%; 
	height: 100%;
	/* position: fixed; */
	top: 0px;
	left: opx;
	/* background-attachment: fixed; */
	background-size:cover;
	
  box-sizing: content-box; 
}
.no-padding1{
	background-image: url("img-3.png");
	background-repeat: no-repeat;
	width: 100%; 
	height: 100%;
	/* position: fixed; */
	top: 0px;
	left: opx;
	/* background-attachment: fixed; */
	background-size:cover;
	
  box-sizing: content-box; 
}
.no-padding2{
	background-image: url("banner_Bersama_Bantu_Lebanon.jpg");
	background-repeat: no-repeat;
	width: 100%; 
	height: 100%;
	/* position: fixed; */
	top: 0px;
	left: opx;
	/* background-attachment: fixed; */
	background-size:cover;
	
  box-sizing: content-box; 
}
.content-bg2{
	background-size:cover;
	width: 100%;
	height: 100vh;
	background-position: center;
	opacity: 1;
    visibility: inherit;
    z-index: 20;
	background-attachment: fixed;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.aaa{
	
	position: relative;
}
.qqq .abd .abc{
	/* display: inline-block; */
	/* overflow: hidden; */
	/* background-size:cover; */
		/* position: relative; */
		/* border: 2px solid orange; */
	/* position: absolute; */
  /* width: 100%; */
  /* background-color: orange; */
  /* font-size: 20px; */
  /* text-align: center; */
  /* bottom: 0; */
}
.qqq .abd{
	width: 100%;
}
.qqq img{
	width:100%;
	}
.abc{
	
}
.aaa .abc {
	position: absolute;
	color: white;
  bottom: 0;
  font-size: 20px;
  /* background-color: yellow; */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.aaa .abc button{
	width: 100%;
	text-align:center;
	border: 2px solid #f59220;
background: transparent;
	font-size: 20px;
	color: white;
	padding: 5px;
	outline: none;
	border-radius: 50px;
	margin-bottom: 10px;
  }
.aaa .text-align{
	font-size: 34px;
	line-height: 32px !important;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif !important;
	font-weight: 700;
	
	width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.aaa .text-12px{
	font-size: 12px !important;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif !important;
	font-weight: 800;
  position: relative;
	margin-bottom: 10px;
	letter-spacing: 5px;
}
.bg-green{
	width: 100%;
	height: 1px;
	background-color: green;
	margin-bottom: 10px;
}
.padding-20px{
	padding: 20px;
	text-align: center;
}
.padding-20px img{
	width: 180px;
}
.padding-fff{
	position: absolute;
	left: 10%;
	right: 10%;
}
.padding-fff a{
	font-size: 34px;
	text-transform: uppercase;
}
.padding-ffff{
	position: absolute;
	left: 10%;
	right: 10%;
	top: 250px;
	color: white;
}
footer{
	background-color: #5dda47;
	width: auto;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}
/* footer div{ */
	/* background-color: red; */
	/* width: auto; */
	/* height: auto; */
/* } */
/* footer div nav{ */
	/* background-color: yellow; */
	/* width: auto; */
	/* height: 100%; */
/* } */
/* footer div nav ul{ */
	/* background-color: yellow; */
	/* width: auto; */
	/* height: 100%; */
/* } */
.padding-40px-bottom{
	position: relative;
	padding-bottom: 40px;
	overflow: hidden;
}
.heih{
	height: 100%;
}
.heih li{
	float: left;
	height: 100%;
}
footer li{
	width: 50%;
	height: auto;
}
.flot{
	float: left;
	width: 50%;
	
}
.flat{
	float: left;
	width: 50%;
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 100px;
	margin-right: auto;
}
.font-weight-600px{
	font-weight: 600;
}
.font-medium{
	font-size: 16px;
    line-height: 23px;
}
.alt-font{
	/* font-family: "Open Sans", sans-serif !important; */
}
.bor{
	margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
	#top-header #logo{
		float: none;
		padding: 10px;
	}
	#top-header #top-menu #menu1, #menu2, #menu4{
		display: none;
	}
	#big-wrapper article{
		display: none;
	}
	#top-header #top-menu .hamburger-menu{
		display: block;
		padding: 0px 50px 0px 0px;
	}
}

